.project-image,
.project-card {
    will-change: transform, filter;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none; 
}


.portfolio-container {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
}

.nav-bar {
    position: fixed;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin-top: -20px;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    width: 33%;
    text-align: left;
}

.nav-links {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    width: 33%;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.125rem;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.nav-links .nav-link svg {
    vertical-align: middle;
}

.nav-links li:last-child {
    margin-right: 24px;
}

.nav-icons {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 16px;
    width: 33%;
}

.nav-icon {
    color: #333;
    transition: color 0.3s, transform 0.2s;
}

.nav-icon:hover {
    color: #3498db;
    transform: scale(1.1);
}

.nav-link:hover {
    background-color: #3498db;
    color: white;
    transform: scale(1.05);
}
.hero-header {
    margin-top: 16px;
    padding-top: 100px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-description {
    margin-top: 16px;
    font-size: 1.125rem;
    color: #666;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-section, .projects-section, .contact-section {
    padding: 32px;
    text-align: center;
}

.about-description, .contact-description {
    font-size: 1.125rem;
    color: #666;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.project-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: filter 0.3s ease-in-out;
}

.project-card:hover .project-image{
    filter: brightness(0.5);
}

.project-card:hover::before {
    background: rgba(0, 0, 0, 0.6);
}

.project-card:hover {
    transform: scale(1.05);
}

.project-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.project-description {
    padding: 10px;
    color: white;
    text-align: center;
    opacity: 1;
}

.project-card:hover .project-description {
    opacity: 1;
}

.roadmap-section {
    text-align: center;
    padding: 50px 20px;
}

.roadmap-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.roadmap-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: #007bff;
    transform: translateX(-50%);
}

.roadmap-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
    width: 100%;
}

.roadmap-item.left {
    flex-direction: row-reverse;
    text-align: left;
}

.roadmap-item.right {
    text-align: right;
}

.roadmap-dot {
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.roadmap-content {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 40%;
    min-width: 150px;
}

.job-title {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 5px;
}

.job-company {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 3px;
}

.job-date {
    font-size: 0.9rem;
    color: #777;
}

.align-left {
    text-align: left;
}

.project-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.anim-link {
    text-decoration: none;
}

@media (max-width: 900px) {
    .nav-links {
        flex-direction: row;
        justify-content: center;
        width: 90%;
        padding-right: 60px;
        margin-right: 20px;
    }

    .nav-links li:last-child {
        margin-right: 0px;
    }

    .hero-header {
        padding-top: 170px;
        height: 15vh;
    }

    .roadmap-container {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    .nav-title{
        width: 90%;
        text-align: center;
    }
    .nav-icons{
        width: 90%;
    }

    .nav-bar {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .nav-links {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-right: 60px;
        margin-right: 20px;
    }

    .hero-header {
        padding-top: 290px;
        padding-bottom: 30px;
        height: 15vh;
    }

    .roadmap-container {
        width: 100%;
    }
}

